<div id="wrapper">

  <!-- Main -->
  <div id="main">
    <div class="inner">

      <!-- Header -->
      <app-header></app-header>
      <!-- Content -->
      <app-home></app-home>
      <!--<app-formulaire></app-formulaire>-->
      <!--<app-form-control></app-form-control>-->
      <!--<app-formulaire-reactif></app-formulaire-reactif>
      <app-login></app-login>
      <app-register></app-register>-->
      <app-formulaire-dossier></app-formulaire-dossier>
    </div>
  </div>

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
</div>

<!--<router-outlet></router-outlet>-->
