
<div id="sidebar">
  <div class="inner">

    <!-- Search -->
    <app-search></app-search>

    <!-- Menu -->
    <app-menu></app-menu>
    <!-- Section Mini Post -->
    <section>
      <header class="major">
        <h2>Ante interdum</h2>
      </header>
      <div class="mini-posts">
        <article>
          <a href="#" class="image"><img [src]="img1" alt="" /></a>
          <p>{{paragraphe}}</p>
        </article>
        <article>
          <a href="#" class="image"><img [src]="'assets/images/' + img2" alt="" /></a>
          <p>{{part1}} {{part2}}</p>
          <p>{{part1 + ' ' + part2}}</p>
        </article>
        <app-mini-post [(miniPostImpl)]="miniPost" ></app-mini-post>
      </div>
      <ul class="actions">
        <li><button class="button" (click)="onClick()">More</button></li>
        <li><button class="button" (click)="onMouseEvent($event)">Event More</button></li>
      </ul>
    </section>

    <!-- Section -->
    <section>
      <header class="major">
        <h2>Get in touch</h2>
      </header>
      <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="contact">
        <li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
        <li class="icon solid fa-phone">(000) 000-0000</li>
        <li class="icon solid fa-home">1234 Somewhere Road #8254<br />
          Nashville, TN 00000-0000</li>
      </ul>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
    </footer>

  </div>
</div>
